@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

#navbar{
    background-color: red;
}

.vis-item{
    font-size: 10px;
    top: 2px;
}

.vis-text{
    font-size: 12px;

}

.taskBody {
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* padding-top: 3rem; */
}

.add {
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
}

.note {
    display:inline-block;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    background-color: #fff;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note .hidden {
    display: none;
} 

.task_title{
    width: 100%;
    display: inline-block;
}

.task_list .list_item{
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    width: 100%;
    text-align:center;
    
}

.list_content{
    border: none;
    font-size: 15px;
    width: 310px;
    margin: 2px;
    display: inline-block;
}

.note .task_list button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin-left: 0.5rem;
}

.page{
    position: absolute;
    bottom: 0;
    border-style: ridge;
    width: 100%;
    border-width: 2px;
    
}

.notes{
    position: relative;
    height: 400px;
}

h1{
    font-size: 4rem;
    text-align: center;
    opacity: 0.4;
    color: green;
}

.input{
    width: 400px;
    max-width: 100%;
    margin: auto;
}

.create_project{
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.create_project::placeholder {
    color: #b5b5b5;
    text-align: center;
}

h3{
    font-size: 26px;
    width: 300px;
}

.projects{
    padding: 10px;
    width: 400px;
    font-size: 20px;
    border-style: solid;
    margin: auto;
    margin-top: 10px;
    border-width: 1px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.projects button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    
}
