{% extends "taskmanager/layout.html" %}
{% load static %}

{% block script %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
    <script src="{% static 'taskmanager/index.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>On Time</h1>
    <form action="{% url 'createProject' %}" class="input" method="POST">
        {% csrf_token %}
        <input id="input" type="text" name="title" class="create_project" placeholder="Enter your project" required>
    </form>
    {% for projects in project %}
        <div class="projects" id="projects">
            <form action="{% url 'viewProject' projects.id %}" method = "POST">
                {% csrf_token %}
                <button class="delete"><i class="fas fa-sign-in-alt"></i></button>
            </form>
            <h3>{{ projects.name }}</h3>
            <form action="{% url 'deleteProject' projects.id %}" method = "POST">
                {% csrf_token %}
                <button class="delete"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div>
    {% endfor %}
{% endblock %}